# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log*

# Metro bundler cache
.expo/

# Expo managed workflow
.expo-shared/

# React Native
ios/
android/

# macOS
.DS_Store

# Visual Studio Code
.vscode/

# IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Package locks (se quiser ignorar, opcional)
# package-lock.json
# yarn.lock

# Builds
dist/
build/

# Environment files
.env
.env.*
.env.local

# Cache
.cache/
expo.cache/
tmp/
temp/

# Web build (se usar expo export:web)
web-build/

# Misc
*.log
